*{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin:0 auto ;
}

a{
    text-decoration: none;
}

button{
    border:none;
    cursor: pointer;
    transition: .4s;
    background: red;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    padding: 15px 25px;

}


.modal{
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0,0.6);
position: fixed;
top: 0;
right: 0;
    display: none;
backdrop-filter: blur(10px);
    padding-top: 50px;
}

.modal-block{
    margin: 0 auto;
    width: 60%;
    height: 60%;
    background: #fff;
    border-radius:20px ;
animation: block .7s alternate linear;
}

@keyframes block {
    0%{
        transform:translateX(1000px) ;
    }
}

.modal-block {
    color: #000;
    font-size: 18px;
    font-family: sans-serif;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.close{
    font-size: 25px;
    font-family: sans-serif;
    text-align: end;
    padding: 20px;
    cursor: pointer;
}

.block_tabs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.imgOne{
    width: 163px;
    height: 201px;
transition: .5s;
object-fit: contain;
}

.imgTwo{
    width: 197px;
    height: 207px;
    transition: .5s;
    object-fit: contain;
}

.imgThree{
    width:242px ;
    height: 236px;
    transition: .5s;
    object-fit: contain;
}

.btnOne{
    background:#008000;
}

.block_tabs-img{
    font-weight: 700;
    width: 45%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_tabs-img img{
position: absolute;
}

.container{
background: coral no-repeat;
    width: 100%;
    height: 120vh;
    padding-bottom: 100px;
}

.con-block-p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    font-weight: 600;
    font-size: 25px;
    margin: 0 auto;
line-height: 40px;
/*padding-top: 30px;*/
}


.drink{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    backdrop-filter: blur(10px);
    padding-top: 50px;
}

.legenda{
    display: none;
}
.chalap{
    display: none;
}
.maksym{
    display: none;
}
.drink-modal{
    margin: 0 auto;
    width: 60%;
    height: 60%;
    background: #fff;
    border-radius:20px ;
    animation: block-y .7s alternate linear;
}

@keyframes block-y {
    0%{
        transform:translateX(-1000px) ;
    }
    50%{
        transform:translateY(-100px);
    }

    100%{
        transform: translateY(100px);
    }
}

.drink-modal {
    color: #000;
    font-size: 18px;
    font-family: sans-serif;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.drink_close{
    font-size: 25px;
    font-family: sans-serif;
    text-align: end;
    padding: 20px;
    cursor: pointer;
}

.block-drink-img{
    width: 163px;
    height: 201px;
    transition: .5s;
    object-fit: contain;
}

.btnLegenda{
    background:#008000;
}

.block-drink{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}


.block-drink-img{
    width:  45%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-drink-img img{
    position: absolute;
    width: 45%;
}


.ShoroBtn{
    border:none;
    cursor: pointer;
    transition: .4s;
    background: GrayText;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    padding: 15px 25px;

}

.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0 10px;
}